.word {
    font-size: large;
    font-weight: bold;
}

.wordContainer {
    height: 28px;
    padding-left: 10px;
}

#searchKey {
    margin:0px !important;
    padding-left: 4px;
   
}
#abort {
    margin-left:160px;
}
.search {
    display:grid;
    width: 190px;
    grid-template-columns: 150px 30px;
    align-items: center;
}

.wordRow {
    scroll-snap-align: start;
}
